// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #dba37a;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #231715;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #a75e2f;
  


 
  /** tertiary **/
  --ion-color-tertiary: #61DDCB;
  
  --ion-color-tertiary-tint:#34B59F; 

  

  /** danger **/
  --ion-color-danger: #eb0400;
  
  --ion-color-danger-tint: #D62F20;


   /** light **/

 --ion-color-light: #34B59F;
/*  --ion-color-light-rgb: 56, 128, 255;
 --ion-color-light-contrast: #ffffff;
 --ion-color-light-contrast-rgb: 255, 255, 255; */
 --ion-color-light-shade: #34B59F;
 --ion-color-light-tint: #83ebd0;

}
